/* svgbutton background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="%23c62e65"><path d="M 0 80 C 0 0, 0 0, 80 0 S 160 0, 160 80, 160 160 80 160, 0 160, 0 80 " transform=" rotate( 0, 80, 80 ) translate( 0, 0 ) "></path></svg>'); */
* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: 0;
}
li{
  list-style-type: none;
}
.nav-bar{
  display: flex;
  align-items: center;
  width: 100%;
}
.header-nav-menu{
  margin-left: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.5vw;
  margin-right:.8vw;
  margin-top: 0;
  margin-bottom: 8%;
}
.header-nav-item{
  display: flex;
  justify-content: space-evenly;
  width: 15vw;
  max-width: 8rem;
  margin: 0;


}

.burger-box{
  margin-top: 2.1vw;
  margin-left: auto;
  margin-right: 20px;
}
.header-nav-link{
  padding: 0 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: .5rem;
  background-color: #02b7de;
  width: 100%;
  min-height: 1.5rem;
  text-align: center;
  text-align: center;
  display: inline-block;
  color: white;
  text-decoration: none;
  border-radius: 1em;
  transition: ease-out .2s;
}
.header-nav-link:hover{
  transform: scale(1.1);
}

body {
  /* background */
  background: rgba(6, 4, 138, 1);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(6, 4, 138, 1) 100%
  );
 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background */
  /* display */
  display: flex;
  flex-direction: column;
  margin: 0;
  /* display */
}
.wrapper {
  display: flex;
  width: 100%;
  margin-inline: auto;
}
.linkboxes {
  display: flex;
  flex-direction: column;
  width: 20%;
  aspect-ratio: 1;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="%23c62e65"><path d="M 0 80 C 0 0, 0 0, 80 0 S 160 0, 160 80, 160 160 80 160, 0 160, 0 80 " transform=" rotate( 0, 80, 80 ) translate( 0, 0 ) "></path></svg>');
  background-repeat: no-repeat;
  place-items: center;
}
b {
  color: #02b7de;
}
.linkboxes .links {
  text-decoration: none;
  color: black;
  text-align: center;
  width: 20%;
}
.linkboxes .hardness-tag {
  color: #02b7de;
}
/* footer */
/* footer separator */
hr {
  display: block;
  height: clamp(0.1rem, 0.5rem, 0.7rem);
  background-color: white;
  border: none;
}
footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
/* footer nav list */
footer ul {
  list-style-type: none;
  display: block;
  position: relative;
}
footer li {
  margin: 0.5em;
}
footer a {
  color: white;
  text-decoration: none;
}
/* signature */
footer p {
  color: white;
}


@media (max-width: 769px) {
 
  .burger-box{
    display: none;
  }
  header {
    border-bottom: #d3d3d3 max(0.1vh, 3px) solid;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(6,4,138,1);
    
  }
  .site-logo{
    max-width: 40vw;
  }
  .site-logo img {
    margin-top: 0;
    margin-left: 0.25em;
    max-width: 40vw;
  }
  /* header-fuct{
    display: flex;
  } */
  /* .fun-fact{
    display: flex;
    height: 20vw;
    background-color: #9969E9;
    width: fit-content;
    height: 100%;
    border-radius: 1rem;
    border: none;
    color:white;
    padding: 3vw;

  } */
  /* line under header */
  .darker {
    background-color: #d3d3d3;
    position: relative;
    top: 2.8em;
    margin: 0;
  }
  /* hiding useless objects */
  aside {
    display: none;
  }

  .header-navigation {
    display: none;
  }
  h1 {
    display: none;
  }
  /* main display */
  main {
    
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  /* BUTTONS */

  .linkboxes {
    width: 48%;
    margin-right: 0.35em;
    margin-top: 0.5em;
    padding-top: 14vw;
  }
  /* html/css tag in button */
  b {
    font-weight: 900;
  }
  /* links */
  .linkboxes .links {
    position: relative;
    bottom: 5px;
    margin-top: 0;
    font-size: 10vw;
    margin-bottom: 10vw;
    width: 100%;
  }

  .linkboxes .hardness-tag {
    font-size: 4vw;
    padding: 0;
    margin: 0;
    margin-top: 10vw;
  }
  /* quiz button hardness tag higher */
  #tag-higher {
    position: relative;
    bottom: 11.5vw;
  }
  div:has(#tag-higher) b {
    font-size: 6vw;
  }

  /* setting non fitable text to lower font size */
  .big {
    font-size: 8vw;
    font-style: normal;
  }

  #bigger {
    font-size: 6vw;
    font-style: normal;
  }

  /* footer */
  /* footer separator */
  hr {
    height: 3px;
  }
  footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  /* footer nav list */
  footer ul {
    margin-bottom: 20px;
  }
  footer li {
    margin: 0.5em;
  }
  footer a {
    font-size: 6vw;
  }
  /* signature */
  footer p {
    font-size: 6vw;
  }
  /* some responsiwe improvements */
  @media (max-width: 295px) {
    .linkboxes .links {
      padding-top: 5vw;
      font-size: 7vw;
    }
    .big {
      font-size: 5vw;
    }
  }
}
@media (min-width: 769px) and (max-width: 1200px){
  .site-logo img {
    position: relative;
    bottom: 1.9rem;
    margin-top: 0;
    max-width: 25vw;
    margin-left: 1.25rem;
  }
  .site-logo{
   height: 65%;
  }
  /* aside{
    height: fit-content;
    width: fit-content;
  } */
  h1{
    display: none;
  }
p{
  display: none;
}
  /* .fun-fact{
    display: flex;
    height: 20vw;
    background-color: #9969E9;
    width: fit-content;
    height: 100%;
    border-radius: 1rem;
    border: none;
    color:white;
    padding: 3vw;

  } */
}
@media (min-width: 1201px) and (max-width: 100000px){
  .site-logo{
  
    margin-left: 3rem;
    position: relative;
    bottom: 1.7vh;
  }
header{
  margin: 0;
}
  .logo{

  width: 20vw;
  max-width: 20rem;
  aspect-ratio: 5/3;
  margin: 0;
}
#header-fact{
  display: none;
}
.burger-box{
  display: block;
margin-inline: auto;
position: relative;
bottom:1rem;

}

h1{
  margin-top: min(2.5rem, 1.7vh);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 3rem;
  width: fit-content;
}
.header-nav-menu{
 margin-top: 1rem;
position: relative;
right: 6vw;
}
.header-nav-link{
  height: 1.8rem;
  padding-top: .8rem;
  
}
}
