/* svgbutton background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg" version="1.1" fill="%23c62e65"><path d="M 0 80 C 0 0, 0 0, 80 0 S 160 0, 160 80, 160 160 80 160, 0 160, 0 80 " transform=" rotate( 0, 80, 80 ) translate( 0, 0 ) "></path></svg>'); */

:root {
  --clr-bcg: #d3d3d3;
  --font-color: #000000;
}
/*!DARKMODE */
.darkmode {
  --clr-bcg: #010011;
  --font-color: #d3d3d3;
}

/* Ading fonts */
@font-face {
  font-family: audiowide;
  src: url(../fonts/Audiowide/Audiowide.ttf);
}
@font-face {
  font-family: play;
  src: url(../fonts/Play/Play-Regular.ttf);
  src: url(../fonts/Play/Play-Bold.ttf);
}
html{
  scroll-behavior: smooth;
}
* {
  font-family: play;
  color: var(--font-color);
}

header {
  display: flex;
  align-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: 0;
}
/* navigation */
li {
  list-style-type: none;
}
/* hiding hamburger */

.hamburger {
  display: none;
}
.nav-bar {
  display: flex;
  align-items: center;
  width: 100%;
}
.header-nav-menu {
  margin-left: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.5vw;
  margin-right: 0.8vw;
  margin-top: 0;
  margin-bottom: 8%;
}
.header-nav-item {
  display: flex;
  justify-content: space-evenly;
  width: 15vw;
  max-width: 8rem;
  margin: 0;

  /* make it off  */
  border-radius: 1em;
  transition: ease-in-out 0.2s;
}
.burger-box {
  margin-top: 2.1vw;
  margin-left: auto;
  margin-right: 20px;
}
.header-nav-link {
  padding: 0 0.3em;
  font-family: play;
  padding-top: 0.5rem;
  width: 100%;
  min-height: 1.5rem;
  text-align: center;
  display: inline-block;
  color: white;
  text-decoration: none;
  border-radius: 1em;
  background: rgba(6, 4, 138, 1);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(6, 4, 138, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.2vw solid black;
}
.header-nav-item:hover {
  transform: scale(1.1);
}
/* dark mode button */
.light-dark-mode-icon {
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}
.light-dark-mode-button {
  width: 3vw;
}
/* darkmode animations */
.light-dark-mode-button #light-dark-mode-icon.dark {
  animation: darkmode-was-off 0.6s ease-out forwards;
}
.light-dark-mode-button #light-dark-mode-icon.light {
  animation: darkmode-was-on 0.6s ease-out forwards;
}
body {
  /* background */
  background: var(--clr-bcg);

  /* background */
  /* display */
  display: flex;
  flex-direction: column;
  margin: 0;
  /* display */
}

.wrapper {
  display: flex;
  width: 100%;
  margin-inline: auto;
}
  main{
    display: flex;
    flex-direction: column;
    align-items: start;
  }

/* footer */
/* footer separator */

hr {
  display: block;
  height: clamp(0.1rem, 0.5rem, 0.7rem);
  background: rgba(6, 4, 138, 1);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(6, 4, 138, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  height: min(0.7vw, 4px);
}
/* FUNFUCT */
aside {
  display: flex;
  color: white;
  font-family: play;
}
.fun-fact {
  display: block;
  background-color: #9969e9;
  height: fit-content;
  text-align: center;
}
.mouse-entered {
  animation: mouse-entered-refresh 0.5s ease-in forwards;
}
.mouse-removed {
  animation: mouse-removed-refresh 0.5s ease-in;
}
.mouse-clicked {
  animation: mouse-clicked 0.5s ease-in;
}
footer {
  font-family: audiowide;
  text-align: center;
  font-size: min(1.5rem, 2vw);
}


/* footer nav list */
footer ul {
  list-style-type: none;
  display: block;
  position: relative;
}

footer li {
  margin: 0.5em;
}

footer a {
  color: var(--font-color);
  text-decoration: none;
  border-bottom: 0px solid white;
}

/* signature */
footer p {
  color: var(--font-color);
  font-size: min(1.3rem, 2vw);
  padding-top: 10px;
}
footer a:hover {
  transition: 0.2s;
  border-image: linear-gradient(90deg, #22c1c3 0%, rgba(6, 4, 138, 1) 100%);
  border-image-slice: 1;
  border-width: 0.2vw;
}
/* SITE CONTENT */
.contents{
  background: linear-gradient(var(--clr-bcg), var(--clr-bcg)) padding-box,
  linear-gradient(90deg, #22c1c3 0%, rgba(6, 4, 138, 1) 100%) border-box;
  border: 0.2vw solid transparent;
  border-radius: 1rem;
  height: fit-content;
}


/* Phones */
@media (max-width: 769px) {

  header {
    border-image: linear-gradient(90deg, #22c1c3 0%, rgba(6, 4, 138, 1) 100%);
    border-image-slice: 1;
    border-width: 0.7vw;
    border-bottom-style: solid;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    width: 100vw;
    background-color: var(--clr-bcg);
    z-index: 9999;
    margin-bottom: 10vw;
  }
  .site-logo {
    max-width: 40vw;
  }
  .site-logo img {
    margin-top: 0;
    margin-left: 0.25em;
    max-width: 40vw;
  }
  .light-dark-mode-button {
    width: 7vw;
    position: fixed;
    top: 7.8vw;
    left: 75vw;
  }
  /* position improvements */
  @media (max-width: 180px) {
    .light-dark-mode-button {
      bottom: clamp(2px, 2vw, 4vw);
    }
  }
  /* sliding hamburger menu */
  .burger-box {
    display: flex;
  }

  .burger-box p {
    display: none;
  }

  .hamburger {
    display: block;
    margin-bottom: 3.9vw;
    position: relative;
    margin-right: 5vw;
  }
  /* hamburger icon + transition */
  .bar {
    display: block;
    width: 9vw;
    background: rgba(6, 4, 138, 1);
    background: linear-gradient(
      90deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(6, 4, 138, 1) 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
    height: 1vw;
    margin-top: 1.8vw;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(2.8vw) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-2.8vw) rotate(-45deg);
  }
  /* menu positioning + presence */
  .header-nav-menu {
    margin: 0;
    position: fixed;
    left: -100%;
    top: 24vw;
    gap: 0;
    flex-direction: column;
    background-color: var(--clr-bcg);
    width: 100vw;
    text-align: center;
    transition: 0.3s;
    justify-content: start;
    height: 60vw;
  }
  .header-nav-item {
    margin: 3vw 0;
    display: grid;
    width: 30%;
    margin-inline: auto;
    font-size: 2.5vw;
    background: linear-gradient(black, black) padding-box,
      linear-gradient(90deg, #22c1c3 0%, rgba(6, 4, 138, 1) 100%) border-box;
  }

  .header-nav-link {
    min-height: 2vw;
    width: 30vw;
    padding: min(3vw, 0.8rem) 2vw;
    border-width: 0.3vw;
  }

  .header-nav-menu.active {
    position: fixed;
    left: 0;
  }

  /* line under header */
  .darker {
    background-color: d3d3d3;
    position: relative;
    top: 2.8em;
    margin: 0;
  }

  /* hiding useless objects */

  .header-navigation {
    display: none;
  }

  h1 {
    display: none;
  }

  
  /* CONTENT */
  main{
    justify-content: start;
    width: 90%;
    padding-left: 9vw;
  }
  .image-and-h2{
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .image-and-h2 img{
max-width: 15vw;
height: fit-content;
aspect-ratio: 3/4;
  position: relative;
  bottom: 1vw;
  
  }
  h2{
    font-size: 8vw;
    margin-bottom: 8vw;
    
  }
  h3{
    font-size: 6vw;
    width: 90%;
  }
  .headings{
    margin-top: 7vw;
    font-size: 5vw;
  }
  .contents{
    width: 70%;
    min-height: fit-content;
    margin-top: 10vw;
  border-width: .5vw;
  font-size: 4vw;
 padding-left: 5%;
 padding-block: 2vw;
 border-radius: 4vw;
 padding-top: 1vw;
  }
  .contents p{
    padding-top: 1vw;
  }
  .contents li{
    margin-left: 10%;
    margin-top: 2vw;
    list-style:upper-roman;
    margin-bottom: 1vw;
  }
  .contents a{
    text-decoration: none;
    font-style: italic;
  }

  pre {
  max-width: 70vw;
  font-size: 4vw !important;
  }
  p {
    padding-top: 5vw;
    font-size: 4vw;
    width: 90%;
    line-height: 5.5vw;
    margin-bottom: 3vw;
  }

  aside {
    width: 100%;
    padding-top: 10vw;
    padding-bottom: 2vw;
    background-color: var(--clr-bcg);
    justify-self: center;
    transition: 0.3s;
    display: flex;
    color: var(--font-color);
    position: fixed;
    left: -100%;
    top: 83vw;
    z-index: 10000000;
  }
  aside.active {
    left: 0;
    transition: ease-in-out 0.5s;
  }
  /* funfucts improvements */
  .fun-fact {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    border-radius: 5vw;
    max-width: 60vw;
    padding: 1vw 3vw;
   align-items: center;
  }
  .fact-title {
    font-size: 5vw;
    margin-bottom: 0;
  }
  .fact-id {
    font-size: 3vw;
    margin-top: 0.5em;
    padding: 0;
    margin:0;
  }
  .fact-content {
    padding-top: 0;
    font-size: 4vw;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  #refresh-image {
    max-width: 9vw;
    margin-top: 2vw;
  }
  .mobile-clicked {
    animation: mobile-refresh-animation 0.5s ease-in-out;
  }
  .mouse-entered {
    animation: none;
  }
  .mouse-removed {
    animation: none;
  }

  /* footer */
  /* footer separator */
  hr {
    height: 0.7vw;
  }

  footer {
    font-family: audiowide;
    text-align: center;
  }

  /* footer nav list */
  footer ul {
    margin-bottom: 20px;
  }

  footer li {
    margin: 0.5em;
  }

  footer a {
    font-size: 6vw;
  }
  footer a:hover {
    border-bottom: none;
  }
  /* signature */
  footer p {
    font-size: 6vw;
  }
  *{
    scroll-margin-top: 28vw;
  }
  i{
    font-style: italic;
    font-weight: 600;
  }
  #button-next{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient(var(--clr-bcg), var(--clr-bcg)) padding-box,
    linear-gradient(90deg, #22c1c3 0%, rgba(6, 4, 138, 1) 100%) border-box;
    border: 1vw solid transparent;
    border-radius: 2vw;
    width: 30%;
    margin-left: 60vw;
    min-height: 5vw;
    font-size: 3vw;
    
  }
  #next{
    text-decoration: none;
  }

}
/* Laptops/landscape */
@media (min-width: 770px) and (max-width: 1200px) {
  /* site logo */
  .site-logo img {
    position: relative;
    bottom: 1.9rem;
    margin-top: 0;
    max-width: 25vw;
    margin-left: 1.25rem;
  }

  .site-logo {
    height: 65%;
  }
  .light-dark-mode-button {
    min-width: 3vw;
    position: relative;
    right: max(10vw, 6.5rem);
    top: 4vw;
  }
  .header-nav-link {
    font-size: min(1.9vw, 1rem);
  }

  /* hiding non used on this width elements */
  h1 {
    display: none;
  }

  header p {
    display: none;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
  }
  /* funfuct */
  aside {
    justify-content: center;
    display: flex;
    color: white;
    justify-content: end;
    background-color: none;
  }

  .fun-fact {
    margin-inline: auto;
    border-radius: 5vw;
    width: 60vw;
    padding: 1vw 2vw;
    margin-bottom: 3.2vw;
  }
  .fact-title {
    font-size: min(2.7vw, 1.8rem);
  }
  .fact-id {
    font-size: min(1.6vw, 1.2rem);
    margin-top: 0.2em;
  }
  .fact-content {
    margin-top: 0.5em;
    font-size: min(2.3vw, 1.5rem);
    padding-bottom: 0;
  }
  #refresh-image {
    max-width: 5vw;
    margin-top: 2vw;
  }

  main{
    justify-content: start;
    width: 90%;
    padding-left: 9vw;
  }
  .image-and-h2{
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .image-and-h2 img{
max-width: 10vw;
height: fit-content;
aspect-ratio: 3/4;
  position: relative;
  bottom: 1vw;
  
  }
  /* CONTENT */
  h2{
    font-size: 2.7rem;
    margin-bottom: 1rem;
    
  }
  h3{
    font-size: 2rem;
    width: 90%;
    margin-bottom: 4rem;
  }
  .headings{
    margin-top: 2rem;
    font-size: 2.5rem;
  }
  .contents{
    width: 70%;
    min-height: fit-content;
    margin-top: 1rem;
  border-width: .5vw;
  font-size: 1.6rem;
 padding-left: 5%;
 padding-block: 1rem;
 
 border-radius: 4vw;
 padding-top: 1vw;
  }
  .contents p{
    font-size: 1.6rem;
    padding-top: .7rem;
    margin-bottom: 1rem;
  }
  .contents li{
    margin-left: 7%;
    
    list-style:upper-roman;
    margin-bottom: .7rem;
  }
  .contents a{
    text-decoration: none;
    font-style: italic;
  }

  pre {
  max-width: 70vw;
  font-size: 1.3rem !important;
  }
  .actual-content {
    padding-top: 5vw;
    font-size: 1.3rem;
    width: 90%;
    line-height: 1.7em;
    margin-bottom: 3vw;
  }
  *{
    scroll-margin-top: 2vw;
  }
  i{
    font-style: italic;
    font-weight: 600;
  }
  #button-next{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient(var(--clr-bcg), var(--clr-bcg)) padding-box,
    linear-gradient(90deg, #22c1c3 0%, rgba(6, 4, 138, 1) 100%) border-box;
    border: .4rem solid transparent;
    border-radius: 1.5rem;
    width: 20%;
    margin-left: 70vw;
    min-height: 5vw;
    font-size: 1.3rem;
    padding: 0;
    
  }
  #next{
    text-decoration: none;    
  }
}
/*pc's*/
@media (min-width: 1201px) and (max-width: 100000px) {
  header {
    margin-inline: auto;
  }
  /* logo  */
  .site-logo {
    margin-left: 3rem;
    position: relative;
    bottom: 1.7vh;
  }
  .logo {
    width: 20vw;
    max-width: 20rem;
    aspect-ratio: 5/3;
    margin: 0;
  }
  /* darkmode toggle button */
  .light-dark-mode-button {
    max-width: 3.4rem;
    margin-right: 5vw;
  }

  /* header navigation and h1 */
  .burger-box {
    display: block;
    margin-inline: auto;
    position: relative;
    bottom: 1rem;
  }
  /* site title */
  h1 {
    margin-top: min(2.5rem, 1.7vh);
    font-family: audiowide;
    color: var(--font-color);
    font-size: 2.5rem;
    width: fit-content;
  }
  /* navigation */
  .header-nav-menu {
    margin-top: 1rem;
    position: relative;
    right: 6vw;
  }

  .header-nav-link {
    height: 1.8rem;
    padding-top: 0.8rem;
  }
  .content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  main{
    max-width: 70%;
    width: 70%;
    padding-left: 7vw;
  }
  h2{
    font-size: 2.6rem
  }
 
  /* funfuct */
  aside {
    display: flex;
    color: white;
  }
  .fun-fact {
    min-width: 15vw;
    display: block;
    max-width: 10vw;
    margin-left: 2vw;
    background-color: #9969e9;
    height: fit-content;
    padding: min(0.5rem, 1vw);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 0;
    height: fit-content;
    
  }
  .fact-title {
    font-size: 2rem;
  }
  .fact-id {
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .fact-content {
    font-size: 1.7rem;
    margin: 0;
    padding-bottom: 0;
  }
  #refresh-image {
    margin-top: 1rem;
    max-width: 3vw;
  }
  main{
    justify-content: start;
    width: 60%;
    padding-left: 9vw;
  }
  .image-and-h2{
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .image-and-h2 img{
max-width: 5rem;
height: fit-content;
aspect-ratio: 3/4;
  position: relative;
  bottom: 1vw;
  
  }
  /* CONTENT */
  h2{
    font-size: 2.7rem;
    margin-bottom: 1rem;
    
  }
  h3{
    font-size: 1.8rem;
    width: 90%;
    margin-bottom: 4rem;
  }
  .headings{
    margin-top: 2rem;
    font-size: 2.5rem;
  }
  .contents{
    width: 50%;
    min-height: fit-content;
    margin-top: 1rem;
  border-width: .5vw;
  font-size: 1.7rem;
 padding-left: 5%;
 padding-block: 1rem;
 border-radius: 4vw;
 padding-top: .7rem;
  }
  .contents p{
    font-size: 1.7rem;
    padding-top: .7rem;
    margin-bottom: 1rem;
  }
  .contents li{
    margin-left: 7%;
    
    list-style:upper-roman;
    margin-bottom: .7rem;
  }
  .contents a{
    text-decoration: none;
    font-style: italic;
  }

  pre {
  max-width: 70vw;
  font-size: 1.7rem !important;
  }
  .actual-content {
    padding-top: 2rem;
    font-size: 1.5rem;
    width: 90%;
    line-height: 2em;
    margin-bottom: 2rem;
  }
  *{
    scroll-margin-top: 2vw;
  }
  i{
    font-style: italic;
    font-weight: 600;
  }
  #button-next{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background: linear-gradient(var(--clr-bcg), var(--clr-bcg)) padding-box,
    linear-gradient(90deg, #22c1c3 0%, rgba(6, 4, 138, 1) 100%) border-box;
    border: .4rem solid transparent;
    border-radius: 1.5rem;
    width: 20%;
    margin-left: 40vw;
    min-height: 4rem;
    font-size: 1.3rem;
    
  }
  #next{
    text-decoration: none;
  }
}
/* Animations */
@keyframes mouse-entered-refresh {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1.1) rotate(180deg);
  }
}
@keyframes mouse-removed-refresh {
  from {
    transform: scale(1.1) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes mouse-clicked {
  from {
    transform: scale(1.1) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes mobile-refresh-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes darkmode-was-off {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes darkmode-was-on {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* DARKMODE after toggle*/

.color-toogle {
  background-image: linear-gradient(90deg, #22c1c3 0%, rgba(6, 4, 138, 1) 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  border: none;
}
/*! to make darkmode on navigation adding darkomode-list class on item is needed + color-toogle class in link */
.darkmode-list {
  background: linear-gradient(black, black) padding-box,
    linear-gradient(90deg, #22c1c3 0%, rgba(6, 4, 138, 1) 100%) border-box;
  border: 0.2vw solid transparent;
}
@media (max-width: 769px) {
  .darkmode-list {
    padding-inline: 4.6vw;
  }
}
/*! bugs: on very small devices (200px and less) funfuct overflow hamburger menu*/
