dl{
  font-size: 1.5rem;
    width: 90%;
    line-height: 2em;
    margin-bottom: 2rem;

}
dt{
  margin-top: 1rem;
}
.content-img{
  max-width: 50vw;
}
@media(max-width: 1200px){
  dl{
    font-size: 1.3rem;
    width: 90%;
    line-height: 1.7em;
    margin-bottom: 3vw;
  }
  .content-img{
    max-width: 65vw;
  }
}
@media(max-width: 769px){
  dl{
    font-size: 4vw;
    width: 90%;
    line-height: 5.5vw;
    margin-bottom: 3vw;;
  }
  .content-img{
    max-width: 80vw;
  }
}
